@tailwind base;
@tailwind components;
@tailwind utilities;

/* ^^^ THESE TOP 3 LINES ARE MANDATORY ^^^ */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Mobile Safe Area Utility */
  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom);
  }
}